Task2

In [2]:
import pandas as pd

In [3]:
train=pd.read_csv("train.csv")
train=pd.DataFrame(train)
test=pd.read_csv("test.csv")
test=pd.DataFrame(test)

In [4]:
train['review'] = train['review'].str.replace('<br />','',regex=True)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
test['review'] = test['review'].str.replace('<br />','',regex=True)
test.head(5)

                                              review sentiment
0  Stranded in Space (1972) MST3K version - a ver...  negative
1  - After their sons are sentenced to life in pr...  positive
2  I love playing football and I thought this mov...  positive
3  This Showtime cable film features a talented c...  positive
4  This is a film i decided to go and see because...  positive

In [6]:
train['sentiment']=train['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)

In [7]:
train.head(5)

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. The filming tec...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [8]:
test['sentiment']=test['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)

In [9]:
test.head(5)

                                              review  sentiment
0  Stranded in Space (1972) MST3K version - a ver...          0
1  - After their sons are sentenced to life in pr...          1
2  I love playing football and I thought this mov...          1
3  This Showtime cable film features a talented c...          1
4  This is a film i decided to go and see because...          1

In [10]:
trainlabel=train.drop('review',axis=1)
trainlabel.head(5)

   sentiment
0          1
1          1
2          1
3          0
4          1

In [11]:
traintext=train.drop('sentiment',axis=1)
traintext.head(5)

                                              review
0  One of the other reviewers has mentioned that ...
1  A wonderful little production. The filming tec...
2  I thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...
4  Petter Mattei's "Love in the Time of Money" is...

In [12]:
testlabel=test.drop('review',axis=1)
testlabel.head(5)

   sentiment
0          0
1          1
2          1
3          1
4          1

In [13]:
testtext=test.drop('sentiment',axis=1)
testtext.head(5)

                                              review
0  Stranded in Space (1972) MST3K version - a ver...
1  - After their sons are sentenced to life in pr...
2  I love playing football and I thought this mov...
3  This Showtime cable film features a talented c...
4  This is a film i decided to go and see because...

In [142]:
#count traintext
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(binary=True)
traintextlist=[]

for i in range(0,len(traintext)):
    x=traintext['review'][i]
    traintextlist.append(x)
traindata=vectorizer.fit_transform(traintextlist)

#print(traindata)

In [143]:
#transforming testtext data
testtextlist=[]
for i in range(0,len(testtext)):
    x=testtext['review'][i]
    testtextlist.append(x)
testdata=vectorizer.transform(testtextlist)

In [174]:
#part 2 feature importance
traindataarray=traindata.toarray()
testdataarray=testdata.toarray()

In [18]:
#Gaining feature importan0,ce
from sklearn.feature_selection import mutual_info_classif
mutual_info = mutual_info_classif(traindataarray,trainlabel.values.ravel(),random_state=False)

In [154]:
mutual_info= pd.Series(mutual_info)
mutual_info.index =vectorizer.get_feature_names_out()
x=mutual_info.sort_values(ascending=False)

In [97]:
#top 10 features
x.head(10)

worst         0.060650
bad           0.059109
no            0.047457
ewan          0.046516
mankiewicz    0.043887
nazis         0.042997
vaguely       0.041129
shuffle       0.040525
impacting     0.040428
camilla       0.039625
dtype: float64

In [23]:
#last 10 features
x.tail(10)

malfatti     0.0
malign       0.0
malikka      0.0
malkovich    0.0
mall         0.0
malley       0.0
mallicka     0.0
mallika      0.0
camels       0.0
oblivion     0.0
dtype: float64

In [21]:
#References
# https://stackoverflow.com/questions/46638641/how-to-fix-valueerror-expected-2d-array-got-1d-array-instead-in-sklearn-pyth
# https://youtu.be/bPYJi1E9xeM
# https://machinelearningmastery.com/prepare-text-data-machine-learning-scikit-learn/
# https://guhanesvar.medium.com/feature-selection-based-on-mutual-information-gain-for-classification-and-regression-d0f86ea5262a

TASK 3

In [261]:
from sklearn.tree import DecisionTreeClassifier

In [262]:
#decision tree without feature gain
clf=DecisionTreeClassifier(criterion='entropy', random_state=0)
clf.fit(traindataarray,trainlabel)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [263]:
y_pred= clf.predict(testdataarray)

In [264]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
print("Accuracy {} %".format(100*accuracy_score(y_pred,testlabel)))

Accuracy 66.2 %

In [265]:
print(classification_report(testlabel, y_pred))

              precision    recall  f1-score   support

           0       0.65      0.64      0.64       239
           1       0.67      0.68      0.68       261

    accuracy                           0.66       500
   macro avg       0.66      0.66      0.66       500
weighted avg       0.66      0.66      0.66       500

In [266]:
#with feature gain

In [267]:
#selecting uptill 4500 features
fortraining=x.head(4500)

In [268]:
fortraining1=fortraining.index.array

In [269]:
fortraining12=fortraining1.to_numpy()

In [270]:
listoffeatures=vectorizer.get_feature_names_out()

In [271]:
df = pd. DataFrame(traindataarray, columns=vectorizer.get_feature_names_out())

In [272]:
df2=df.loc[:,fortraining12]

In [273]:
df2=df2.to_numpy()

In [274]:
clf1=DecisionTreeClassifier(criterion='entropy', random_state=0)
clf1.fit(df2,trainlabel)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [275]:
df3= pd. DataFrame(testdataarray, columns=vectorizer.get_feature_names_out())

In [276]:
df4=df3.loc[:,fortraining12]

In [277]:
df4=df4.to_numpy()

In [278]:
y_pred2= clf1.predict(df4)

In [279]:
print("Accuracy {} %".format(100*accuracy_score(y_pred2,testlabel)))

Accuracy 69.39999999999999 %

In [280]:
print(classification_report(testlabel, y_pred2))

              precision    recall  f1-score   support

           0       0.69      0.65      0.67       239
           1       0.70      0.74      0.72       261

    accuracy                           0.69       500
   macro avg       0.69      0.69      0.69       500
weighted avg       0.69      0.69      0.69       500